[submodule "frontend"]
	path = frontend
	url = https://github.com/TomatoFT/Finance-Manager-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/TomatoFT/Finance-Manager-Backend.git
[submodule "chatbot"]
	path = chatbot
	url = https://github.com/TomatoFT/Finance-Manager-Chatbot-Service.git
